@import "../libs/reset";
@import "./util";

.about {
  width: 100%;
  height: 100vh;
  position: relative;

  &__video {
    position: absolute;
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
}

.morphing {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(34, 34, 34, 0.5);

  &__title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 3px;
  }
}

.phrase {
  width: 100%;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: morph 15s infinite ease-in-out;
  animation: morph 15s infinite ease-in-out;
}

.phrase:nth-child(1) {
  -webkit-animation-delay: -15s;
  animation-delay: -15s;
}

.phrase:nth-child(2) {
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
}

.phrase:nth-child(3) {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}

@-webkit-keyframes morph {
  0% {
    -webkit-filter: blur(1rem);
    filter: blur(1rem);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes morph {
  0%,
  5%,
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  20%,
  80% {
    -webkit-filter: blur(1rem);
    filter: blur(1rem);
    opacity: 0;
  }
}

.about-btn {
  position: absolute;
  top: 58%;
  width: 10%;
  height: 34px;
  padding: 5px 10px;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.75);
  border-radius: 2px;
  transition: none;

  &:hover {
    border-color: #fff;
    background-color: #fff;
    color: #000;
    transition: none;
  }

  &:first-of-type {
    left: 38%;
  }

  &:last-of-type {
    right: 41%;
  }
}

.problems-question {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/about-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 80%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  &__title {
    width: 40%;
    font-size: 30px;
    line-height: 1.5;
  }
}

.solutions-problems {
  width: 100%;
  padding: 80px 20px 20px;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 991px) {
    padding: 110px 20px 0px;
  }
}

.problems {
  margin: 0 auto;

  &__container {
    max-width: 1536px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__block-left,
  &__block-right {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  &__item {
    max-width: 280px;
    margin-bottom: 60px;
    position: relative;
    text-align: left;
  }

  &__item-icon {
    position: absolute;
    font-size: 32px;
    color: #111;
    top: 9px;
    left: -60px;
  }

  &__item-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    letter-spacing: 1px;
  }

  &__item-text {
    font-size: 16px;
    color: #777;
    line-height: 1.35;
    text-transform: none;
  }

  &__block-image {
    margin: 0 auto;
    padding: 70px 20px;
    width: 50%;
    position: relative;
    margin-bottom: 40px;
  }

  &__image {
    width: 87%;
  }

  @media (max-width: 991px) {
    &__container {
      flex-direction: column;
      gap: 0px;
      padding-left: 40px;
    }

    &__item-icon {
      left: -55px;
    }

    &__item-title {
      font-size: 15px;
    }

    &__item-text {
      font-size: 13px;
    }
  }

  @media (min-width: 992px) and (max-width: 1720px) {
    &__item-title {
      font-size: 16px;
    }

    &__item-text {
      font-size: 14px;
    }
  }
}

p.problems__item-text:nth-of-type(2n) {
  color: #000;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 5px;
}

.swiper {
  width: 73%;
  height: 47%;
  overflow-y: hidden;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.separator {
  width: 100%;
  padding: 27px 20px 27px 10%;
  text-align: left;
  color: #fff;
  background-color: #252525;
  text-transform: uppercase;

  &__title {
    margin: 0 auto;
    max-width: 1536px;
    font-size: 24px;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }

  &__text {
    max-width: 1536px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.5;
  }
}

.about-description {
  width: 100%;
  padding: 100px 20px 70px;
  text-align: center;
  color: #111;
  background-color: #f8f8f8;

  &__title {
    width: 65%;
    margin: 0 auto;
    font-size: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  &__text {
    width: 60%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.5;
  }

  &__title-reverted {
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: normal;
    text-transform: none;
  }

  &__text-reverted {
    font-size: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.accordion {
  width: 100%;
  max-width: 1536px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;

  &__container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 10%;
    max-height: 500px;
    transition: all 1s ease;
    color: #fff;
  }

  &__item-left {
    background-color: #777;
  }

  &__item-right {
    background-color: #252525;
  }

  &__content {
    display: none;
  }

  &__text {
    font-size: 24px;
  }

  &__link {
    height: 100%;
  }
}

.accordion__item.active {
  width: 90%;
  transition: all 1s ease;

  &__content {
    display: block;
  }

  &__text {
    width: 100%;
    max-width: 480px;
  }
}

.container {
  max-width: 1536px;
  margin: 0px auto 0;
  padding: 0px;
  background-color: #ececec;
}

.slides {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px;
  overflow: hidden;
}
.slide {
  list-style-type: none;
  height: 450px;
  width: 5%;
  overflow: hidden;
  transition: all 500ms linear;
}

/* brands colors */
.brand1 {
  border-radius: 10px 0 0 10px;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.brand2 {
  border-radius: 0px 10px 10px 0px;
  background-color: #ececec;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.brand1.active {
  background-image: url("../assets/problems-scheme-2.png");
}

.brand2.active {
  background-image: url("../assets/problems-scheme-1.png");
}

.slide a.action {
  display: block;
  height: 100%;
  position: relative;
}
.slide a.action span {
  font-weight: 400;
    font-size: 14px;
    color: #111;
    transform: rotate(270deg);
    position: absolute;
    top: 25%;
    width: 250px;
    left: -75%;
    height: 100px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.slide-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 50px 40px 40px;
  color: #111;
}

.slide-content h2 {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.slide-content > p {
  width: 50%;
  font-size: 19px;
  line-height: 1.4;
  font-weight: 300;
}
.active {
  width: 80%;
}
.active a.action {
  display: none;
}
