@import "../libs/reset";
@import "./util";

.about {
  width: 100%;
  height: 100vh;
  position: relative;

  &__video {
    position: absolute;
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.morphing {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(34, 34, 34, 0.5);

  &__title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 3px;
  }
}

.phrase {
  width: 100%;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: morph 15s infinite ease-in-out;
  animation: morph 15s infinite ease-in-out;
}

.phrase:nth-child(1) {
  -webkit-animation-delay: -15s;
  animation-delay: -15s;
}

.phrase:nth-child(2) {
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
}

.phrase:nth-child(3) {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}

@-webkit-keyframes morph {
  0% {
    -webkit-filter: blur(1rem);
    filter: blur(1rem);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes morph {
  0%,
  5%,
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  20%,
  80% {
    -webkit-filter: blur(1rem);
    filter: blur(1rem);
    opacity: 0;
  }
}

.about-btn {
  position: absolute;
  top: 58%;
  width: 10%;
  height: 34px;
  padding: 5px 10px;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.75);
  border-radius: 2px;
  transition: none;

  &:hover {
    border-color: #fff;
    background-color: #fff;
    color: #000;
    transition: none;
  }

  &:first-of-type {
    left: 38%;
  }

  &:last-of-type {
    right: 41%;
  }
}

.problems-question {
  width: 100%;
  height: 100vh;
  background-image: url('../assets/about-page-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 70%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  &__title {
    width: 40%;
    font-size: 30px;
    line-height: 1.5;
  }
}

.solutions-problems {
  width: 100%;
  padding: 80px 20px 20px;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 991px) {
    padding: 110px 20px 0px;
  }
}

.problems {
  margin: 0 auto;

  &__container {
    max-width: 1536px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__block-left,
  &__block-right {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  &__item {
    max-width: 280px;
    margin-bottom: 60px;
    position: relative;
    text-align: left;
  }

  &__item-icon {
    position: absolute;
    font-size: 32px;
    color: #111;
    top: 9px;
    left: -60px;
  }

  &__item-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    letter-spacing: 1px;
  }

  &__item-text {
    font-size: 16px;
    color: #777;
    line-height: 1.35;
    text-transform: none;
  }

  &__block-image {
    width: 50%;
    position: relative;
    margin-bottom: 40px;
    // padding-top: 7%;
    // width: 33%;
    // align-self: flex-start;
  }

  &__image {
    width: 87%;
  }

  @media (max-width: 991px) {
    &__container {
      flex-direction: column;
      gap: 0px;
      padding-left: 40px;
    }

    &__item-icon {
      left: -55px;
    }

    &__item-title {
      font-size: 15px;
    }

    &__item-text {
      font-size: 13px;
    }
  }

  @media (min-width: 992px) and (max-width: 1720px) {
    &__item-title {
      font-size: 16px;
    }

    &__item-text {
      font-size: 14px;
    }

    &__block-image {
      width: 50%;
    }
  }
}

p.problems__item-text:nth-of-type(2n) {
  color: #000;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 5px;
}

.swiper {
  width: 65%;
  height: 67%;
  overflow-y: hidden;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}
