@import "../libs/reset";
@import "./util";

.consulting-home {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px 0px;

  background: linear-gradient(
      0deg,
      rgba(34, 34, 34, 0.3),
      rgba(34, 34, 34, 0.3)
    ),
    url("../assets/conslting-bg.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    width: 75%;
    margin: 0 auto;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 5px;
    opacity: 0.9;
    text-transform: uppercase;
  }

  &__subtitle {
    width: 95%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 300;
    opacity: 0.4;
  }
}

.consulting-services {
  width: 100%;
  height: 100%;
  padding: 120px 0 70px;
  text-align: center;

  &__title {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 4%;
  }

  &__tab {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
    margin: 0 auto;
  }

  &__tab-label {
    font-size: 18px;
    letter-spacing: 2.5px;
    margin: 0 auto 40px;
    cursor: pointer;
    color: grey;
    transition: all 0.25s cubic-bezier(0, 0, 0.58, 1);
  }

  &__tab-tab {
    display: none;
    width: 100%;
    order: 1;
    flex-wrap: wrap;
  }

  &__tab-content {
    flex-basis: 100%;

    &:nth-child(n + 2) {
      flex-basis: 32.5%;
      text-align: left;
    }

    &:nth-child(n + 2)::first-line {
      font-weight: 600;
      font-size: 19px;
      line-height: 2;
    }

    &:nth-child(2) {
      font-size: 19px;
    }

    &:first-of-type {
      font-weight: 600;
      font-size: 20px;
      text-align: justify;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 991px) {
    padding: 100px 0 30px;

    &__title {
      font-size: 30px;
      margin-bottom: 50px;
    }

    &__tab-label {
      font-size: 7px;
    }

    &__tab {
      width: 90%;
    }

    &__tab-content:first-of-type {
      font-size: 16px;
      text-align: left;
    }

    &__tab-content:nth-child(2) {
      font-size: 16px;
    }

    &__tab-content:nth-child(n + 2) {
      font-size: 14px;
    }

    &:nth-child(n + 2)::first-line {
      font-size: 16px;
    }
  }

  @media (min-width: 992px) and (max-width: 1720px) {
    &__title {
      font-size: 30px;
    }

    &__tab-label {
      font-size: 12px;
    }

    &__tab-content {
      &:nth-child(n + 2) {
        font-size: 14px;
      }

      &:nth-child(n + 2)::first-line {
        font-size: 15px;
      }

      &:nth-child(2) {
        font-size: 15px;
      }

      &:first-of-type {
        font-size: 16px;
      }
    }
  }
}

i.icon {
  display: block;
  margin-bottom: 30px;
  font-size: 50px;
  color: #dcdcdc;
  transition: all 0.25s cubic-bezier(0, 0, 0.58, 1);

  @media (max-width: 991px) {
    font-size: 42px;
  }

  @media (min-width: 992px) and (max-width: 1720px) {
    font-size: 40px;
  }
}

.consulting-services__tab-label:hover,
.consulting-services__tab-label:hover i.icon {
  color: #000;
  transition: all 0.25s cubic-bezier(0, 0, 0.58, 1);
}

.consulting-services__tab-input:checked
  + label.consulting-services__tab-label
  + div.consulting-services__tab-tab {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: 991px) {
    flex-direction: column;
    flex-wrap: unset;
  }
}

.consulting-services__tab-input:checked + label.consulting-services__tab-label,
.consulting-services__tab-input:checked
  + label.consulting-services__tab-label
  > i.icon {
  color: #000;
}

.swiper {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;

  @media (max-width: 991px) {
    width: 90%;
    margin-bottom: 50px;
  }
}

.all-clients {
  width: 100%;
  max-width: 1536px;
  height: 100%;
  margin: 0 auto;
}

.swiper-slide {
  &__image-container {
    max-height: 120px;
    height: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-height: 100px;
      height: auto;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    &:hover img {
      transform: scale(1.05);
      transition: all 0.3s ease;
    }
  }
}

.choose-us {
  width: 100%;
  max-width: 1536px;
  margin: 0 auto;
  color: #777;
  padding: 100px 0px;

  &__title {
    margin: 0 auto 70px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #111;
  }

  &__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px 35px;
    font-size: 14px;
  }

  &__item {
    flex: 1 1 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px 0;
  }

  &__icon {
    margin: 0 auto;
    font-size: 40px;
    color: #111;
  }

  &__item-title {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  &__text {
    line-height: 1.7;
  }
}

.projects {
  width: 100%;
  max-width: 1536px;
  margin: 0 auto;
  color: #777;
  margin-bottom: 100px;
}

.our-projects {
  width: 80%;
  margin: 0 auto;

  &__title-wrap {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    text-transform: uppercase;
  }

  &__title-text {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 8px;
    color: #111;
  }

  &__title-link {
    font-size: 11px;
    letter-spacing: 3px;
    margin-top: 8px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0px 30px;
  }

  &__item {
    flex: 1 0 30%;
  }

  &__image-block {
    max-width: 350px;
    max-height: 190px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.2s cubic-bezier(0.3, 0.1, 0.58, 1);

    &:hover {
      opacity: 0.85;
      transition: all 0.2s cubic-bezier(0.3, 0.1, 0.58, 1);
    }
  }

  &__item-title {
    display: block;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 7px;
  }

  &__item-subtitle {
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #aaa;
  }

  &__item-text {
    font-size: 15px;
    line-height: 1.75;
    margin-bottom: 25px;
  }

  &__item-link {
    background-color: #e5e5e5;
    font-size: 12px;
    letter-spacing: 1px;
    border: none;
    padding: 6px 22px;

    &:hover {
      color: #444;
      background: #d5d5d5;
    }
  }
}

.work-process {
  width: 100%;
  max-width: 1536px;
  margin: 0 auto;
  margin-bottom: 100px;
  color: #777;

  &__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
  }

  &__text-wrap {
    flex: 1 0 45%;
  }

  &__title {
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  &__text {
    font-size: 15px;
    line-height: 1.75;

    &:first-of-type {
      margin-bottom: 25px;
    }
  }

  &__tabs {
    flex: 1 0 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__tab-item {
  }

  &__tab-question {
    padding: 15px 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    cursor: pointer;

    &:hover {
      background-color: #fcfcfc;
      color: #444;
    }
  }

  &__question {
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__icon {
    transition: transform 0.3s ease-in;
  }

  &__tab-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease;
  }

  &__answer {
    padding: 10px 20px 20px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.75;
  }
}

.work-process__tab-question.active {
  border-color: #ddd;
  background-color: #fcfcfc;
  color: #444;
}

.work-process__tab-question.active > .work-process__icon {
  transform: rotate(180deg);
}

.work-process__tab-question.active + .work-process__tab-answer {
  max-height: 80px;
}

.solutions-problems {
  width: 100%;
  padding: 80px 20px 20px;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 991px) {
    padding: 110px 20px 0px;
  }
}

.problems {
  margin: 0 auto;

  &__container {
    max-width: 1536px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__block-left,
  &__block-right {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  &__item {
    max-width: 280px;
    margin-bottom: 60px;
    position: relative;
    text-align: left;
  }

  &__item-icon {
    position: absolute;
    font-size: 32px;
    color: #111;
    top: 9px;
    left: -60px;
  }

  &__item-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    letter-spacing: 1px;
  }

  &__item-text {
    font-size: 16px;
    color: #777;
    line-height: 1.35;
    text-transform: none;
  }

  &__block-image {
    margin: 0 auto;
    padding: 70px 20px;
    width: 50%;
    position: relative;
    margin-bottom: 40px;
  }

  &__image {
    width: 87%;
  }

  @media (max-width: 991px) {
    &__container {
      flex-direction: column;
      gap: 0px;
      padding-left: 40px;
    }

    &__item-icon {
      left: -55px;
    }

    &__item-title {
      font-size: 15px;
    }

    &__item-text {
      font-size: 13px;
    }
  }

  @media (min-width: 992px) and (max-width: 1720px) {
    &__item-title {
      font-size: 16px;
    }

    &__item-text {
      font-size: 14px;
    }
  }
}

p.problems__item-text:nth-of-type(2n) {
  color: #000;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 5px;
}

.section-heading {
  width: 100%;
  padding: 25px 0;
  color: #fff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/bg-parallax2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    text-transform: uppercase;
  }
}