@import "../libs/reset";
@import "./util";

.solutions-home {
  height: 100vh;
  width: 100%;
  padding: 16% 0 0;
  background-image: url("../assets/solutions-home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -70px;

  &__content {
    width: 70%;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #000;
  }

  &__text {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 10px;
    margin-bottom: 50px;
    font-weight: 600;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__button {
    width: 21%;
    height: 40px;
    padding: 0;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 2px;
  }
}

.divider-stockm {
  min-height: 380px;
  width: 100%;
  padding: 0 14%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../assets/bg-parallax.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stockm {
  width: 60%;

  &__text {
    font-size: 23px;
    font-weight: 300;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.9);
  }

  &__image img {
    max-height: 380px;
  }
}

.stockm-divider {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #111;
  padding: 3%;
  text-align: center;
  color: #fff;

  &__title {
    margin: 0 auto;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  &__text {
    margin: 0 auto;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.divider-white {
  width: 100%;
  padding: 35px 15px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #fff;
  color: #000;

  &__title {
    width: 80%;
    margin: 0 auto;
    font-size: 27px;
    font-style: italic;
    font-weight: 600;
  }
}

.automatization {
  margin: 0 auto;
  
  &__title-wrap {
    width: 100%;
    padding: 35px 0;
    background-color: #000;
    color: #fff;
  }

  &__title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    font-size: 26px;
  }

  &__subtitle {
    margin: 40px auto;
    width: 67%;
    text-align: center;
    font-size: 26px;
  }

  &__text-block {
    max-width: 50%;
  }

  &__item-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 50px 5%;
  }

  &__item-text {
    font-size: 20px;
    text-align: justify;
  }

  &__item-image {
    max-width: 49%;
    max-height: 360px;
  }
}


// .divider-stockm {
//   min-height: 450px;
//   width: 100%;
//   padding: 0 15%;

//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;

//   background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
//     url("../assets/bg-parallax.jpg");
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// .stockm {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: flex-start;
//   width: 50%;
//   gap: 25px 0;
//   font-size: 19px;
//   color: rgba(255, 255, 255, 0.9);

//   &__title {
//     letter-spacing: 3px;
//     text-transform: uppercase;
//   }

//   &__text {
//     font-size: 15px;
//   }

//   &__image img {
//     margin-top: -90px;
//   }

//   &__more-btn {
//     height: 40px;
//     font-size: 13px;
//     letter-spacing: 1px;
//     width: 30%;
//     padding: 0;
//     border-radius: 3px;
//     color: #000;
//     font-weight: 400;
//     background-color: rgba(255, 255, 255, 0.9);
//     border: none;

//     &:hover {
//       background-color: #fff;
//       color: #000;
//     }

//     &:active {
//       transform: scale(0.97);
//     }
//   }
// }