@import "../libs/reset";
@import "./util";

.solutions-home {
  height: 100vh;
  width: 100%;
  padding: 16% 0 0;
  background-image: url("../assets/solutions-home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -70px;

  &__content {
    width: 70%;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
  }

  &__text {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 7px;
    margin-bottom: 50px;
    font-weight: 500;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__button {
    width: 20%;
    height: 35px;
    padding: 0;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 1px;
    border-radius: 8px;
  }

  @media (max-width: 991px) {
    padding-top: 70%;
    background-position-y: 0px;

    &__content {
      width: 90%;
      margin: 0 auto;
    }

    &__text {
      font-size: 16px;
    }

    &__buttons {
      flex-direction: column;
      gap: 20px;
    }

    &__button {
      width: 55%;
      height: 42px;
      padding-top: 5px;
      font-size: 11px;
    }
  }

  @media (min-width: 992px) and (max-width: 1720px) {
  }

  @media (min-width: 1800px) {
  }
}

.solutions-tabs {
  width: 100%;
  padding: 80px 20px;
  background-color: #f8f8f8;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 100%;
  margin: 0 auto;

  &__title {
    margin: 0 auto;
    width: 100%;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 65px;
  }

  &__tab-input {
    display: none;
  }

  &__tab-label {
    margin: 0 auto;
    padding: 5px 25px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);

    &:hover,
    &:focus {
      border: 1px solid;
      border-color: #e9ecef #e9ecef #dee2e6;
      color: #777;
    }
  }

  &__tab-item {
    display: none;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    order: 1;
    text-align: center;
  }

  &__tab-text {
    margin-top: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
  }

  &__tab-list {
    list-style-type: disc;
    text-align: left;
    margin-bottom: 40px;
  }

  &__list-item {
    margin-bottom: 10px;

    span {
      font-weight: 600;
    }
  }

  &__tab-link {
    padding: 5px 25px;
    border: 1px solid;
    border-color: #222;
    color: #222;
    border-radius: 20px;
    text-transform: capitalize;
    transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);

    &:hover,
    &:focus {
      border-color: #e9ecef #e9ecef #dee2e6;
      color: #777;
    }
  }

  @media (max-width: 991px) {
    width: 90%;

    &__title {
      font-size: 18px;
      margin-bottom: 50px;
    }

    &__tab-label {
      margin-bottom: 10px;
    }
  }
}

.tabs__tab-input:checked + label.tabs__tab-label {
  border: 1px solid #222;
  color: #000;
}

.tabs__tab-input:checked + label.tabs__tab-label + div.tabs__tab-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divider-stockm {
  min-height: 450px;
  width: 100%;
  padding: 0 4%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../assets/bg-parallax.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 991px) {
    height: 100vh;
    flex-direction: column;
  }
}

.stockm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 50%;
  padding-top: 65px;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.9);

  &__title {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 85px;
  }

  &__text {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  &__monitor {
    margin-top: -70px;
  }

  @media (max-width: 991px) {
    width: 95%;

    &__title {
      margin-bottom: 50px;
    }

    &__text {
      margin-bottom: 30px;
    }

    &__monitor {
      margin-top: 0;
    }
  }
}

.divider-stockm-white {
  min-height: 450px;
  width: 100%;
  padding: 0 5% 0 7%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  background-color: #fff;

  @media (max-width: 991px) {
    flex-direction: column-reverse;
    padding: 50px 20px 20px;
  }
}

.stockm-white {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 40%;
  gap: 25px 0;
  font-size: 18px;
  color: #000;

  &__title {
    font-size: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__text {
    width: 70%;
    color: #383838;
    font-size: 14px;
    line-height: 1.8;
  }

  &__image {
    width: 60%;
    margin-right: 120px;
  }

  &__image img {
    max-width: 600px;
  }

  &__more-btn {
    height: 32px;
    font-size: 10px;
    letter-spacing: 1px;
    width: 50%;
    padding: 0;
    border-radius: 3px;
    color: #000;
    font-weight: 400;
    border: 1px solid #222;
    padding-top: 8px;

    &:hover {
      background-color: #000;
      color: #fff;
    }

    &:active {
      transform: scale(0.97);
    }
  }

  @media (max-width: 991px) {
    width: 100%;

    &__text {
      width: 80%;
      font-size: 15px;
    }

    &__more-btn {
      margin-bottom: 20px;
    }

    &__image {
      width: 100%;
      margin-right: 0;

      img {
        max-width: 370px;
      }
    }
  }
}

.section-progress {
  margin: 0 auto;
  width: 100%;
  padding: 30px 20px 70px;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  &__wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  &__text-wrap {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  &__text-left {
    font-size: 17px;
    letter-spacing: 3px;
  }

  &__link {
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #111;
    vertical-align: baseline;

    &:hover {
      color: #999;

      i.fa-angle-right {
        color: #999;
      }
    }

    i.fa-angle-right {
      font-size: 11px;
      color: #111;
    }
  }

  &__content-wrap {
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__item {
    width: 40%;
  }

  &__item:last-of-type {
    width: 49%;
  }

  &__progress-bar {
    margin-top: 10px;
    margin-bottom: 49px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
    overflow: visible;
    height: 2px;
    background: #f0f0f0;
  }

  &__bar {
    height: 2px;
    padding-top: 2px;
    position: relative;
    overflow: visible;
    background-color: #222;
    font-size: 10px;
    color: #000;
    text-align: left;

    span {
      position: relative;
      top: 10px;
      white-space: nowrap;
    }
  }

  &__counters-wrap {
    align-items: center;
    justify-content: space-around;
  }

  &__counters-number {
    margin: 0 auto;
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    line-height: 1.2;
    color: #222;

    span {
      display: block;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  &__counters-text,
  i.progress-bar-icon {
    font-size: 13px;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.divider-white {
  width: 100%;
  padding: 35px 15px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #fff;
  color: #000;

  &__title {
    width: 80%;
    margin: 0 auto;
    font-size: 27px;
    font-style: italic;
    font-weight: 600;
  }
}

.automatization {
  margin: 0 auto;

  &__title-wrap {
    width: 100%;
    padding: 25px 0;
    color: #fff;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../assets/bg-parallax2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    text-transform: uppercase;
  }

  &__text-block {
    width: 49%;
  }

  &__subtitle {
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    font-size: 16px;
    text-align: center;
    background-color: #f8f8f8;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #333;
    line-height: 1.2;
  }

  &__item-title {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
    padding: 50px 5%;
  }

  &__item-text {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
  }

  &__item-image {
    max-width: 48%;
    max-height: 360px;
  }

  &__conclusion {
    padding: 20px 20px;
  }

  &__conclusion-text {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
  }

  @media (max-width: 991px) {
    &__title {
      width: 95%;
      font-size: 20px;
    }

    &__subtitle {
      font-size: 15px;
      line-height: 1.7;
    }

    &__item {
      flex-direction: column;
      gap: 30px;
      padding: 30px 20px;
    }

    &__text-block {
      width: 100%;
      order: 1;
    }

    &__item-image {
      max-width: 100%;
      order: 2;
    }

    &__conclusion-text {
      width: 100%;
      font-size: 18px;
    }
  }
}

.section-title {
  height: 100vh;
  padding: 20px 20px 90px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 35% 0px;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/bg-parallax-stock.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    width: 100%;
    font-size: 26px;
    text-align: left;
  }

  &__text {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
  }

  @media (max-width: 991px) {
    padding-left: 30px;

    &__text {
      font-size: 24px;
    }
  }
}

.section-title-orders {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/bg-parallax-orders.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: saturate(0.75);
  filter: saturate(0.75);

  span {
    text-transform: none;
  }
}

.section-title-analytics {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/bg-parallax-analytics.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title-promotions {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/bg-parallax-promotions.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.order-presentation-contact {
  width: 100%;
  background-color: #111;
  padding: 40px 0;
  text-align: center;

  &__title {
    font-size: 23px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  &__link {
    display: block;
    margin: 0 auto;
    padding: 9px 0px 0;
    width: 235px;
    height: 40px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
    color: #000;
    background-color: #fff;
    border-radius: 4px;

    &:hover {
      background-color: rgba(17, 17, 17, 0.7);
    }
  }

  @media (max-width: 991px) {
    padding: 25px 15px;

    &__title {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }

  @media (min-width: 992px) and (max-width: 1720px) {
    &__title {
      font-size: 16px;
    }

    &__link {
      padding: 5px 0px 0;
      width: 180px;
      height: 30px;
      font-size: 12px;
    }
  }
}

strong {
  font-weight: 500;
}

.filler {
  width: 100%;
  height: 3px;
  background-color: #444;
}
