@import "../libs/reset";
@import "./util";

.solutions-home {
  height: 100vh;
  width: 100%;
  padding: 16% 0 0;
  background-image: url("../assets/solutions-home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -70px;

  &__content {
    width: 70%;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #000;
  }

  &__text {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 10px;
    margin-bottom: 50px;
    font-weight: 600;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__button {
    width: 21%;
    height: 40px;
    padding: 0;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 2px;
  }
}

.solutions-tabs {
  width: 100%;
  padding: 80px 20px;
  background-color: #f8f8f8;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 100%;
  margin: 0 auto;

  &__title {
    margin: 0 auto;
    width: 100%;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 65px;
  }

  &__tab-input {
    display: none;
  }

  &__tab-label {
    margin: 0 auto;
    padding: 5px 25px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);

    &:hover,
    &:focus {
      border: 1px solid;
      border-color: #e9ecef #e9ecef #dee2e6;
      color: #777;
    }
  }

  &__tab-item {
    display: none;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    order: 1;
    text-align: center;
  }

  &__tab-text {
    margin-bottom: 60px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
  }

  &__tab-list {
    list-style-type: disc;
    text-align: left;
    margin-bottom: 40px;
  }

  &__list-item {
    margin-bottom: 10px;

    span {
      font-weight: 600;
    }
  }

  &__tab-link {
    padding: 5px 25px;
    border: 1px solid;
    border-color: #e9ecef #e9ecef #dee2e6;
    color: #777;
    border-radius: 20px;
    text-transform: capitalize;
    transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);

    &:hover,
    &:focus {
      border-color: #222;
      color: #222;
    }
  }
}

.tabs__tab-input:checked + label.tabs__tab-label {
  border: 1px solid #222;
  color: #000;
}

.tabs__tab-input:checked + label.tabs__tab-label + div.tabs__tab-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-block {
  width: 100%;
  padding: 4% 10% 5%;
  background-color: #ffffff;
  background-image: linear-gradient(109deg, #ffffff 0%, #f7f7f7 96%);

  @media (max-width: 991px) {
    padding: 50px 15px;
  }

  @media (min-width: 992px) and (max-width: 1720px) {
    padding: 3% 10%;
  }

  &__text {
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    text-indent: 40px;
    margin-bottom: 15px;

    &:last-of-type {
      font-weight: 400;
      font-style: italic;
    }
  }

  @media (max-width: 991px) {
    &__text {
      font-size: 16px;
    }
  }

  @media (min-width: 992px) and (max-width: 1720px) {
    &__text {
      font-size: 20px;
    }
  }

  &__link {
    display: block;
    text-align: center;
    margin: 20px auto 0;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: underline;
  }
}

.divider-stockm {
  min-height: 380px;
  height: calc(100vh - 60px);
  width: 100%;
  padding: 0 14% 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../assets/bg-parallax.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stockm {
  width: 60%;

  &__content-wrap {
    margin: 0 auto 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-size: 23px;
    font-weight: 300;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.9);
  }

  &__image img {
    max-height: 380px;
    margin-top: -100px;
  }

  &__title {
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
  }
}

// .divider-stockm {
//   min-height: 450px;
//   width: 100%;
//   padding: 0 8%;

//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
//   align-items: center;

//   background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
//     url("../assets/bg-parallax.jpg");
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// .stockm {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
//   align-items: flex-start;
//   width: 50%;
//   gap: 25px 0;
//   font-size: 19px;
//   color: rgba(255, 255, 255, 0.9);

//   &__title {
//     letter-spacing: 3px;
//     text-transform: uppercase;
//   }

//   &__text {
//     font-size: 15px;
//     padding-right: 45px;
//   }

//   &__image img {
//     margin-top: -90px;
//   }

//   &__more-btn {
//     height: 40px;
//     font-size: 13px;
//     letter-spacing: 1px;
//     width: 30%;
//     padding: 0;
//     border-radius: 3px;
//     color: #000;
//     font-weight: 400;
//     background-color: rgba(255, 255, 255, 0.9);
//     border: none;

//     &:hover {
//       background-color: #fff;
//       color: #000;
//     }

//     &:active {
//       transform: scale(0.97);
//     }
//   }
// }

.divider-stockm-white {
  min-height: 450px;
  width: 100%;
  padding: 0 5% 0 7%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  background-color: #fff;
}

.stockm-white {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 40%;
  gap: 25px 0;
  font-size: 18px;
  color: #000;

  &__title {
    font-size: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__text {
    width: 70%;
    color: #383838;
    font-size: 14px;
    line-height: 1.8;
  }

  &__image {
    width: 60%;
    margin-right: 120px;
  }

  &__image img {
    max-width: 600px;
  }

  &__more-btn {
    height: 32px;
    font-size: 10px;
    letter-spacing: 1px;
    width: 50%;
    padding: 0;
    border-radius: 3px;
    color: #000;
    font-weight: 400;
    border: 1px solid #222;

    &:hover {
      background-color: #000;
      color: #fff;
    }

    &:active {
      transform: scale(0.97);
    }
  }
}

.divider-white {
  width: 100%;
  padding: 35px 15px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #fff;
  color: #000;

  &__title {
    width: 80%;
    margin: 0 auto;
    font-size: 27px;
    font-style: italic;
    font-weight: 600;
  }
}

.automatization {
  margin: 0 auto;

  &__title-wrap {
    width: 100%;
    padding: 25px 0;
    color: #fff;
    background-color: #000;
  }

  &__title {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
  }

  &__title-first {
    width: 80%;
    font-size: 24px;
  }

  &__subtitle {
    margin: 40px auto 10px;
    width: 65%;
    text-align: center;
    font-size: 30px;
  }

  &__text-block {
    max-width: 50%;
  }

  &__item-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 50px 5%;
  }

  &__item-text {
    font-size: 20px;
    text-align: justify;
  }

  &__item-image {
    max-width: 49%;
    max-height: 360px;
  }

  &__conclusion {
    padding: 20px 20px 50px;
  }

  &__conclusion-text {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
  }
}

.section-title {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../assets/bg-parallax2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
      margin: 0;
      padding-left: 5%;
      text-align: left;
    }
}