body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #111;
}

::selection {
  background: #222;
  color: #fff;
}

.page-header {
  width: 100%;
  height: 65px;
  padding: 0 30px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 0px -2px 5px 5px rgba(136, 136, 136, 0.8);

  @media (max-width: 991px) {
    height: 54px;
  }

  @media (min-width: 992px) and (max-width: 1600px) {
    height: 48px;
    font-size: 12px;
  }
}

.logo {
  &__link {
    display: block;
  }

  &__image {
    max-height: 50px;
  }

  @media (min-width: 992px) and (max-width: 1600px) {
    &__image {
      max-height: 40px;
    }
  }
}

.main-navigation {
  margin-left: auto;
  margin-right: 15px;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }

  &__list-item {
    height: 100%;
    padding: 0 15px;
  }

  &__link {
    color: #000;
  }

  &__language {
    color: #000;

    @media (max-width: 991px) {
      font-size: 24px;
    }
  }

  &__link:hover,
  &__language:hover {
    color: #727272;
  }
}

.main-navigation__link[aria-current="page"] {
  color: #f8921c;
}

.mobile-menu-btn {
  display: none;
  font-size: 40px;
  color: #f8921c;
  margin-right: 10%;
}

.mobile-menu-btn:focus {
  color: #111;
  transition: all 0.2s ease;
}

.mobile-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 110%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  padding-top: 30%;
  transform: translateX(-100%);
  color: #f8921c;

  &__links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  &__link {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10%;
  }

  &__close-btn {
    position: absolute;
    font-size: 64px;
    top: 5px;
    right: 25px;
  }
}

.mobile-navigation.show {
  transform: translateX(0);
  background-color: rgba(0, 0, 0, 0.95);
  transition: all 0.5s ease-in;
}

@media (max-width: 991px) {
  .page-header {
    padding: 10px;
    padding-right: 5px;
  }

  .main-navigation {
    display: none;
  }

  .mobile-menu-btn {
    display: block;
    margin-right: 15px;
    margin-left: auto;
    margin-bottom: 5px;
  }
}

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 105px 0 60px;
  text-align: center;

  @media (min-width: 992px) and (max-width: 1600px) {
    padding-top: 80px;
  }
}

.footer-group-one {
  width: 40%;
  padding: 0 5%;
  margin-bottom: 45px;
}

.footer-group-two {
  font-size: 18px;
  color: #000;
  margin-bottom: 70px;
}

.footer-logo,
.footer-social {
  width: 50%;
  margin: 0 auto;
}

.footer-logo {
  width: 35%;
  margin-bottom: 30px;
}

.footer-social {
  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__link {
    display: block;
    margin: 0 10px;
    position: relative;
    width: 25px;
    height: 25px;
    padding-top: 4px;
    padding-left: 6.2px;
    transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
  }

  &__link:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #111;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  }

  &__link i.fas {
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    top: 53%;
    left: 48%;
    transform: translate(-50%, -50%);
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  }

  &__link:hover:before {
    background-color: #000;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  }

  &__link:hover i.fas {
    color: #fff;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  }
}

.link-facebook {
  padding: 6px 0 0 7.5px;
}

.link-youtube {
  padding: 5px 0 0 3.5px;
}

.link-linkedin {
  padding: 5px 0 0 6px;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__item {
    margin-right: 20px;
  }

  &__link:hover {
    color: rgba(136, 136, 136, 1);
  }

  @media (max-width: 991px) {
    &__item {
      margin-right: 10px;
    }
  }

  @media (min-width: 992px) and (max-width: 1600px) {
    &__item {
      margin-right: 20px;
    }

    &__link {
      font-size: 16px;
    }
  }
}

.footer-rights {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 6px;
  margin-bottom: 5px;
}

.footer-slogan {
  font-size: 12px;
}

.btn {
  width: 25%;
  height: 60px;
  border: 1px solid #3c3939;
  padding: 15px 20px;
  font-size: 19px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #000;
    color: #fff;
  }

  &:active {
    transform: scaleY(0.95);
  }
}

@media (max-width: 991px) {
  .page-footer {
    padding: 50px 0;
  }

  .footer-group-one {
    width: 100%;
  }

  .footer-group-two {
    margin-bottom: 30px;
  }

  .footer-logo {
    width: 40%;
    margin-bottom: 40px;
  }

  .footer-social {
    &__link {
      width: 32px;
      height: 32px;
      margin: 0 15px;
    }

    &__link i.fas {
      font-size: 18px;
    }
  }

  .footer-nav {
    flex-direction: column;

    &__item {
      margin: 0 0 18px;
      font-size: 18px;
    }
  }
}

div.temp {
  @media (max-width: 991px) {
    padding-top: 70px;
  }

  @media (min-width: 992px) and (max-width: 1720px) {
    margin: 0 auto;
    width: 60%;
  }
}
